* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #182644;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   /* Evita recalculo de altura quando SweetAlert abre */
    overflow: hidden;     /* Previne scroll / deslocamento */
    position: relative;   /* Garantir que SweetAlert fique fixo sem mexer no layout */
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #182644;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(26, 62, 124);
}

.link {
    margin-top: 20px;
    display: block;
    color: #182644;
    text-decoration: none;
}

/* Garantir que SweetAlert fique acima de tudo */
.swal2-container {
    z-index: 9999 !important;
}
